/*Animação suave de transição entre seções*/
html{
    scroll-behavior: smooth;
}

/*Alterando tamanho da barra de rolagem*/
::-webkit-scrollbar {
    width: 9px;
}

/*Cor padrão da barra de rolagem*/
::-webkit-scrollbar-thumb {
    background: #ffc8c6;
    border-radius: 10px;
}

/*Cor ao usuário passar o mouse por cima*/
::-webkit-scrollbar-thumb:hover {
    background: #c21c15;
}       

/*Geral*/
body, ul, li, p{
    margin: 0px;
    padding: 0px;
    list-style: none; /*Retira a marcação de lista*/
    background-color: #FDFDFF;
    font-family: 'Poppins', Arial, Verdana, sans-serif; /*Seleciona a fonte*/
}

/*Links*/
a{
    text-decoration: none; /*Retira o sublinhado*/
    font-weight: 800;
    font-size: 18px;
}

/*Header*/
header{
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(5.4px); /*Filtro que determina a intensidade do blur*/
    -webkit-backdrop-filter: blur(5.4px);
    box-shadow: 0px -5px 30px #1d0e6213;
    position: fixed; /*Deixa o elemento fixo na tela*/
    width: 100%;
    height: 5em;
    z-index: 1000; /*Garante que o elemento sempre vai estar na frente de tudo*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

header .menu li{  
    background-color: rgba(0, 0, 255, 0);
}

header .menu li a{
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 0;
}

/*Logos*/
header .logo{
    display: flex;
    align-items: center;
}

header #title{
    width: 3em;
}

header #font{
    width: 15em;
    margin-left: 15px;
}

header .menu{
    display: flex;
    background-color: rgba(0, 0, 255, 0);
}

header .menu li a:hover{
    text-shadow: 0px -5px 20px #ffc8c6; /*Sombra no texto*/
    color: #ffadad;
    transition: 600ms;
}

header .menu li a:not(:hover){
    text-shadow: 0px -5px 20px #1d0e6213; /*Sombra no texto*/
    color: #c21c15;
    transition: 400ms;
}

@media (max-width: 509px){
    header .logo img{
        padding-top: .15em;
    }

    header .menu li a{
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 0;
    }

    header .menu li{  
        background-color: rgba(0, 0, 255, 0);
    }

    a{
        font-size: 14px;
    }

    header{
        background: rgba(255, 255, 255, 0.6);
        backdrop-filter: blur(5.4px); /*Filtro que determina a intensidade do blur*/
        -webkit-backdrop-filter: blur(5.4px);
        box-shadow: 0px -5px 30px #1d0e6213;
        position: fixed; /*Deixa o elemento fixo na tela*/
        width: 100%;
        height: 5em;
        z-index: 1000; /*Garante que o elemento sempre vai estar na frente de tudo*/
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
}

@media (min-width: 510px) and (max-width: 968px){
    header .logo img{
        padding-top: .5em;
    }

    header .menu li a{
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 0;
    }

    header .menu li{  
        background-color: rgba(0, 0, 255, 0);
    }

    a{
        font-size: 16px;
    }
    
    header{
        background: rgba(255, 255, 255, 0.6);
        backdrop-filter: blur(5.4px); /*Filtro que determina a intensidade do blur*/
        -webkit-backdrop-filter: blur(5.4px);
        box-shadow: 0px -5px 30px #1d0e6213;
        position: fixed; /*Deixa o elemento fixo na tela*/
        width: 100%;
        height: 6em;
        z-index: 1000; /*Garante que o elemento sempre vai estar na frente de tudo*/
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
}

/*Home*/
#Home{
    width: 100%;
    height: 88vh; /*Unidade relativa ao height, altura*/
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Container com o vídeo dentro*/
#Home .carrossel{
    margin-top: 6em;
    position: relative;
    width: 80%;
    max-width: 800px;
    overflow: hidden;
    box-shadow: 0px -5px 30px #ffadad;
}

#Home .carrossel-container{
    display: flex;
    transition: transform 2s ease;
}

#Home .carrossel-slide{
    min-width: 100%;
    box-sizing: border-box;
}

#Home .carrossel-slide img{
    width: 100%;
    height: auto;
    display: block;
}

/* Estilo das setas */
#Home button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffadad;
    border: none;
    padding: 20px;
    cursor: pointer;
}

#Home .prev{
    left: 0px;
}

#Home .next{
    right: 0px;
}

/* Efeitos de hover nas setas */
#Home button:hover{
    background-color: rgba(0, 0, 0, 0.8);
}

/*Define a responsividade dependendo do tamanho de tela*/
@media (max-width: 509px){
    #Home{
        height: 44vh;
    }

    #Home button{
        padding: 10px;
    }
}

@media (min-width: 510px) and (max-width: 767px){
    #Home{
        height: 60vh;
    }

    #Home button{
        padding: 15px;
    }
}

@media (min-width: 768px) and (max-width: 968px){
    #Home{
        height: 80vh;
    }

    #Home button{
        padding: 18px;
    }
}


/*Tempo Juntos*/
#Tempo{
    width: 100%;
    height: 40em;
    background: linear-gradient(130deg, #c21c15 14%, rgb(88, 7, 7) 100%);
}

#Tempo .contador {
    background-color: transparent;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

#Tempo .tempo {
    display: flex;
    justify-content: space-around;
    font-size: 50px;
    padding: 15px;
    margin-bottom: 30px; 
}

#Tempo .tempo div {
    background-color: #fff;
    color: #c21c15;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 4px 4px 4px rgb(255, 0, 0); /*left, top, right, bottom*/
    width: 250px;
    height: 150px; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Para garantir que os valores e títulos fiquem empilhados */
    text-align: center;
}

#Tempo .titulo {
    font-size: 30px;
    margin-top: 15px;
}

/*Título centralizado*/
#Tempo h2{
    display: flex;
    justify-content: center;
    padding-top: 2em;
    font-size: 2em; /*Tamanho de fonte*/
    color: #FDFDFF;
}

/*Parte destacada do título*/
#Tempo h2 span{
    color: #ffc8c6
}

@media (max-width: 509px){
    #Tempo {
        height: auto;
        padding-bottom: 1em;
    }

    #Tempo .contador{
        padding-top: 10px;
        font-size: 4px;
    }
    
    #Tempo .tempo{
        padding: 30px;
        margin-bottom: 20px; 
        justify-content: space-between;
    }
    
    #Tempo .tempo div{
        padding: 10px;
        width: 80px;
        height: 120px; 
    }
    
    #Tempo .titulo{
        font-size: 15px;
        margin-top: 8px;
    }
}

@media (min-width: 510px) and (max-width: 767px) {
    #Tempo{
        height: auto;
        padding-bottom: 1em;
    }

    #Tempo .contador{
        padding-top: 10px;
        font-size: 4px;
    }
    
    #Tempo .tempo{
        padding: 30px;
        margin-bottom: 20px; 
    }
    
    #Tempo .tempo div{
        padding: 20px;
        width: 110px;
        height: 130px; 
    }
    
    #Tempo .titulo{
        font-size: 15px;
        margin-top: 5px;
    }
}

@media (min-width: 768px) and (max-width: 1124px){
    #Tempo{
        height: auto;
        padding-bottom: 1em;
    }

    #Tempo .contador{
        padding-top: 20px;
        font-size: 4px;
    }
    
    #Tempo .tempo{
        display: flex;
        justify-content: space-around;
        font-size: 50px;
        padding: 10px;
        margin-bottom: 30px; 
    }
    
    #Tempo .tempo div{
        padding: 20px;
        width: 150px;
        height: 130px; 
    }
    
    #Tempo .titulo{
        font-size: 20px;
        margin-top: 15px;
    }
}


/*Sobre*/
#Sobre{
    width: 100%;
    height: 35em;
    padding-top: 3em;
}

/*Contâiner com a imagem e os textos*/
#Sobre .asides{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; /*Dispõe os elementos de forma espaçada igualmente e sem tocar nas bordas*/
    padding-left: 8%;
    padding-right: 8%;
}

/*Título*/
#Sobre .asides .content h2{
    color: #141414;
    font-size: 2em;
    font-weight: bold;
    width: 90%;
    margin: 0 auto; 
    margin-bottom: 1em;
}

#Sobre .asides .content h2 span{
    color: #c21c15; /*Cor da fonte*/
}

/*Texto*/
#Sobre .asides .content p{
    background-color: #ffffff00;
    color: #141414;
    text-align: justify;
    width: 80%;
    margin: 0 auto;
}

/*Linha vertical dividindo o texto da imagem*/
#Sobre .asides hr{
    width: 10%;
    height: .05em;
    transform: rotate(90deg); /*Rotacionando a linha originalmente horizontal para vertical*/
    background-color: #c21c15;
}

/*Imagem à direita do texto*/
#Sobre .asides .image img{
    height: 27em;
}

#Sobre .asides .image img:hover{
    transform: translateY(-1%);
    transition: 400ms;
}

#Sobre .asides .image img:not(:hover){
    transition: 400ms;
}

@media (max-width: 767px) {
    #Sobre{
        padding-bottom: 1em;
        height: auto;
    }

    #Sobre .asides .content h2 {
        width: 95%;
        text-align: center;
    }

    #Sobre .asides .content p {
        width: 90%;
        font-size: 1.2rem;
    }

    #Sobre .asides .image img {
        height: 20em;
    }

    #Sobre .asides hr{
        transform: rotate(0); /*Retornando ao original de uma hr, que é uma linha horizontal*/
        margin-top: 2.5em;
        width: 15%;
        background-color: #c21c15;
    }
}

@media (min-width: 768px) and (max-width: 1223px){
    #Sobre{
        padding-bottom: 1em;
    }

    #Sobre .asides .content h2 {
        width: 90%;
    }

    #Sobre .asides .content p {
        width: 90%;
        font-size: 1.2rem;
    }

    #Sobre .asides .image img {
        width: 30em;
        max-width: 35em;
    }

    #Sobre .asides hr{
        transform: rotate(0);
        margin-top: 2.5em;
        width: 20%;
        background-color: #c21c15;
    }
}

@media (min-width: 1224px){
    #Sobre{
        padding-bottom: 1em;
        height: auto;
    }

    #Sobre .asides {
        flex-direction: row; /*Dispõe os elementos em linhas*/
    }

    #Sobre .asides .content h2 {
        font-size: 27px;
        width: 20em;
    }

    #Sobre .asides .content p {
        font-size: 20px;
        width: 26.75em;
    }
}


/*Musica*/
#Musica {
    background: linear-gradient(130deg, #c21c15 14%, rgb(88, 7, 7) 100%);
    text-align: center;
    padding: 40px;
    overflow: hidden;
    height: 40em;
}

#Musica video{
    opacity: 0.8; /* Torna o vídeo um pouco transparente */
    filter: grayscale(50%); 
    border: 5px solid #333; /* Borda escura */
    box-shadow: 0px 9px 20px #ffadad;
    border-radius: 10px; 
}

#Musica video:hover{
    transform: translateY(-1%);
    transition: 400ms;
}

#Musica video:not(:hover){
    transition: 400ms;
}

/*Título*/
#Musica h2 {
    color: #fff;
    font-size: 2em; /*Tamanho de fonte*/
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 1.5em;
    font-weight: bold;
}

#Musica h2 span{
    color: #ffadad;
}


@media (max-width: 1200px) {
    #Musica h2 {
        font-size: 1.8rem;
    }

    #Musica video{
        width: 90%;
        height: auto;
    }
}

@media (max-width: 800px) {
    #Musica h2 {
        font-size: 1.7rem;
    }

    #Musica video{
        width: 90%;
        height: auto;
    }
}

@media (max-width: 509px) {
    #Musica h2 {
        font-size: 2em;
    }

    #Musica video{
        width: 90%;
        height: auto;
    }

    #Musica {
        height: 39em;
    }
}


/*Projeto*/
#Projeto{
    width: 100%;
    height: 36em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Título*/
#Projeto h2{
    width: 100%;
    padding-right: 0em;
    margin-bottom: 1em;
    text-align: center; /*Centraliza o texto*/
    font-size: 2em;
    color: #141414; 
}

#Projeto h2 span{
    color: #c21c15;
}

/*Cards*/
#Projeto .client-containers{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*Health Treats*/
#Projeto .client-containers .client-1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c21c15;
    width: 1200px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0px 9px 20px #ffadad;
}

/*Manipulando a animação das classes de forma conjunta*/
.client-containers .client-1:hover{
    transform: translateY(-1%);
    transition: 400ms;
}

.client-containers .client-1:not(:hover){
    transition: 400ms;
}

@media (max-width: 767px) {
    #Projeto{
        height: 23em;
    }

    #Projeto h2{
        width: 80%;
    }

    #Projeto .client-containers .client-1 img{
        width: 95%;
        height: 100%;
    }

    #Projeto .client-containers .client-1{
        width: 95%;
        height: 10em;
    }
}

@media (min-width: 768px) and (max-width: 1224px){
    #Projeto{
        height: 40em;
    }
          
    #Projeto h2 {
        width: 60%;
        padding-top: 0em;
    }

    #Projeto .client-containers .client-1{
        width: 80%;
    }

    #Projeto .client-containers .client-1 img{
        width: 45%;
        height: 8em;
    }
}

/*Inicio*/
#Inicio {
    background: linear-gradient(130deg, #c21c15 14%, rgb(88, 7, 7) 100%);
    width: 100%;
    height: 40em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Título*/
#Inicio h2 {
    color: #fff;
    font-size: 2em; /*Tamanho de fonte*/
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 1.5em;
    margin-top: 2em;
    font-weight: bold;
}

#Inicio h2 span{
    color: #ffadad;
}

/*Mapa Google*/
#Inicio iframe{
    width: 80%;
    border-radius: 2em;
    box-shadow: 0px 9px 20px #ffadad;
    margin-bottom: 5em;
}

/*Animação do mapa*/
#Inicio iframe:hover{
    transform: translateY(-1%);
    transition: 400ms; 
}

/*Animação do mapa*/
#Inicio iframe:not(:hover){
    transition: 400ms; 
}

@media (max-width: 767px) {
    #Inicio iframe{
        height: 25em;
        margin-bottom: 2em;
    }
    #Inicio h2{
        margin-top: 0em;
        margin-bottom: 1em;
    }
}

@media (min-width: 768px) and (max-width: 1224px){
    #Inicio {
        height: auto;
        padding-bottom: 4em;
        padding-top: 18em;
    }

    #Inicio h2 {
        font-size: 24px;
    }
}
